.calcs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caixas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  width: 80%;
}

.caixaAnimada {
  width: fit-content;
  margin: 0;
  padding: 0;
}