// Cores Padrão do Projeto
:root {
  // Tema claro
  --branco-claro: #ffffff;
  --link-claro: #747bff;
  --texto-claro: #213547;
  --back-botao-claro: #ebebeb;

  // Tema Escuro
  --branco-escuro: rgba(255, 255, 255, 0.87);
  --cinza-escuro: #242424;
  --back-botao-escuro: #1a1a1a;
  --texto-escuro: #646cff;
  --link-escuro: #535bf2;
}

// Outros Estilos Principais

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--branco-escuro);
  background-color: var(--cinza-escuro);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--texto-escuro);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-escuro);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--back-botao-escuro);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--texto-escuro);
  }

  &:focus, &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

div {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--texto-claro);
    background-color: var(--branco-claro);
  }
  a:hover {
    color: var(--link-claro);
  }
  button {
    background-color: var(--back-botao-claro);
  }
}
